--
-- PostgreSQL database dump
--

\restrict SgIRrH9bm3wnkbtaSHgf11cjYoNCHRlkMFhyEB4EKRytojSDPMb5yCaP0xXcjwK

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: article; Type: TABLE; Schema: public; Owner: suprss_user
--

CREATE TABLE public.article (
    id integer NOT NULL,
    title character varying NOT NULL,
    content character varying NOT NULL,
    link character varying NOT NULL,
    feed_id integer NOT NULL
);


ALTER TABLE public.article OWNER TO suprss_user;

--
-- Name: article_id_seq; Type: SEQUENCE; Schema: public; Owner: suprss_user
--

CREATE SEQUENCE public.article_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.article_id_seq OWNER TO suprss_user;

--
-- Name: article_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: suprss_user
--

ALTER SEQUENCE public.article_id_seq OWNED BY public.article.id;


--
-- Name: articlearchive; Type: TABLE; Schema: public; Owner: suprss_user
--

CREATE TABLE public.articlearchive (
    id integer NOT NULL,
    user_id integer NOT NULL,
    article_id integer,
    feed_id integer,
    title character varying NOT NULL,
    content_html character varying NOT NULL,
    link character varying NOT NULL,
    archived_at timestamp without time zone NOT NULL
);


ALTER TABLE public.articlearchive OWNER TO suprss_user;

--
-- Name: articlearchive_id_seq; Type: SEQUENCE; Schema: public; Owner: suprss_user
--

CREATE SEQUENCE public.articlearchive_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.articlearchive_id_seq OWNER TO suprss_user;

--
-- Name: articlearchive_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: suprss_user
--

ALTER SEQUENCE public.articlearchive_id_seq OWNED BY public.articlearchive.id;


--
-- Name: articlereadflag; Type: TABLE; Schema: public; Owner: suprss_user
--

CREATE TABLE public.articlereadflag (
    id integer NOT NULL,
    user_id integer NOT NULL,
    article_id integer NOT NULL
);


ALTER TABLE public.articlereadflag OWNER TO suprss_user;

--
-- Name: articlereadflag_id_seq; Type: SEQUENCE; Schema: public; Owner: suprss_user
--

CREATE SEQUENCE public.articlereadflag_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.articlereadflag_id_seq OWNER TO suprss_user;

--
-- Name: articlereadflag_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: suprss_user
--

ALTER SEQUENCE public.articlereadflag_id_seq OWNED BY public.articlereadflag.id;


--
-- Name: articlestar; Type: TABLE; Schema: public; Owner: suprss_user
--

CREATE TABLE public.articlestar (
    id integer NOT NULL,
    user_id integer NOT NULL,
    article_id integer NOT NULL
);


ALTER TABLE public.articlestar OWNER TO suprss_user;

--
-- Name: articlestar_id_seq; Type: SEQUENCE; Schema: public; Owner: suprss_user
--

CREATE SEQUENCE public.articlestar_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.articlestar_id_seq OWNER TO suprss_user;

--
-- Name: articlestar_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: suprss_user
--

ALTER SEQUENCE public.articlestar_id_seq OWNED BY public.articlestar.id;


--
-- Name: collection; Type: TABLE; Schema: public; Owner: suprss_user
--

CREATE TABLE public.collection (
    id integer NOT NULL,
    name character varying NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.collection OWNER TO suprss_user;

--
-- Name: collection_id_seq; Type: SEQUENCE; Schema: public; Owner: suprss_user
--

CREATE SEQUENCE public.collection_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.collection_id_seq OWNER TO suprss_user;

--
-- Name: collection_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: suprss_user
--

ALTER SEQUENCE public.collection_id_seq OWNED BY public.collection.id;


--
-- Name: collectionmember; Type: TABLE; Schema: public; Owner: suprss_user
--

CREATE TABLE public.collectionmember (
    id integer NOT NULL,
    collection_id integer NOT NULL,
    user_id integer NOT NULL,
    role character varying NOT NULL
);


ALTER TABLE public.collectionmember OWNER TO suprss_user;

--
-- Name: collectionmember_id_seq; Type: SEQUENCE; Schema: public; Owner: suprss_user
--

CREATE SEQUENCE public.collectionmember_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.collectionmember_id_seq OWNER TO suprss_user;

--
-- Name: collectionmember_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: suprss_user
--

ALTER SEQUENCE public.collectionmember_id_seq OWNED BY public.collectionmember.id;


--
-- Name: collectionmessage; Type: TABLE; Schema: public; Owner: suprss_user
--

CREATE TABLE public.collectionmessage (
    id integer NOT NULL,
    collection_id integer NOT NULL,
    user_id integer NOT NULL,
    message character varying NOT NULL,
    created_at timestamp without time zone NOT NULL,
    message_type character varying NOT NULL,
    article_id integer
);


ALTER TABLE public.collectionmessage OWNER TO suprss_user;

--
-- Name: collectionmessage_id_seq; Type: SEQUENCE; Schema: public; Owner: suprss_user
--

CREATE SEQUENCE public.collectionmessage_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.collectionmessage_id_seq OWNER TO suprss_user;

--
-- Name: collectionmessage_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: suprss_user
--

ALTER SEQUENCE public.collectionmessage_id_seq OWNED BY public.collectionmessage.id;


--
-- Name: emailverificationcode; Type: TABLE; Schema: public; Owner: suprss_user
--

CREATE TABLE public.emailverificationcode (
    id integer NOT NULL,
    user_id integer NOT NULL,
    email character varying NOT NULL,
    code character varying(6) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    used boolean NOT NULL,
    created_at timestamp without time zone NOT NULL,
    purpose character varying NOT NULL
);


ALTER TABLE public.emailverificationcode OWNER TO suprss_user;

--
-- Name: emailverificationcode_id_seq; Type: SEQUENCE; Schema: public; Owner: suprss_user
--

CREATE SEQUENCE public.emailverificationcode_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.emailverificationcode_id_seq OWNER TO suprss_user;

--
-- Name: emailverificationcode_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: suprss_user
--

ALTER SEQUENCE public.emailverificationcode_id_seq OWNED BY public.emailverificationcode.id;


--
-- Name: feed; Type: TABLE; Schema: public; Owner: suprss_user
--

CREATE TABLE public.feed (
    id integer NOT NULL,
    url character varying NOT NULL,
    title character varying,
    description character varying,
    collection_id integer NOT NULL
);


ALTER TABLE public.feed OWNER TO suprss_user;

--
-- Name: feed_id_seq; Type: SEQUENCE; Schema: public; Owner: suprss_user
--

CREATE SEQUENCE public.feed_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.feed_id_seq OWNER TO suprss_user;

--
-- Name: feed_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: suprss_user
--

ALTER SEQUENCE public.feed_id_seq OWNED BY public.feed.id;


--
-- Name: messagereadflag; Type: TABLE; Schema: public; Owner: suprss_user
--

CREATE TABLE public.messagereadflag (
    id integer NOT NULL,
    user_id integer NOT NULL,
    message_id integer NOT NULL
);


ALTER TABLE public.messagereadflag OWNER TO suprss_user;

--
-- Name: messagereadflag_id_seq; Type: SEQUENCE; Schema: public; Owner: suprss_user
--

CREATE SEQUENCE public.messagereadflag_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.messagereadflag_id_seq OWNER TO suprss_user;

--
-- Name: messagereadflag_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: suprss_user
--

ALTER SEQUENCE public.messagereadflag_id_seq OWNED BY public.messagereadflag.id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: suprss_user
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    username character varying NOT NULL,
    email character varying NOT NULL,
    password character varying NOT NULL,
    is_email_verified boolean NOT NULL,
    is_2fa_enabled boolean NOT NULL,
    theme_preference character varying NOT NULL
);


ALTER TABLE public."user" OWNER TO suprss_user;

--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: suprss_user
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_id_seq OWNER TO suprss_user;

--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: suprss_user
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: article id; Type: DEFAULT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.article ALTER COLUMN id SET DEFAULT nextval('public.article_id_seq'::regclass);


--
-- Name: articlearchive id; Type: DEFAULT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.articlearchive ALTER COLUMN id SET DEFAULT nextval('public.articlearchive_id_seq'::regclass);


--
-- Name: articlereadflag id; Type: DEFAULT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.articlereadflag ALTER COLUMN id SET DEFAULT nextval('public.articlereadflag_id_seq'::regclass);


--
-- Name: articlestar id; Type: DEFAULT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.articlestar ALTER COLUMN id SET DEFAULT nextval('public.articlestar_id_seq'::regclass);


--
-- Name: collection id; Type: DEFAULT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.collection ALTER COLUMN id SET DEFAULT nextval('public.collection_id_seq'::regclass);


--
-- Name: collectionmember id; Type: DEFAULT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.collectionmember ALTER COLUMN id SET DEFAULT nextval('public.collectionmember_id_seq'::regclass);


--
-- Name: collectionmessage id; Type: DEFAULT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.collectionmessage ALTER COLUMN id SET DEFAULT nextval('public.collectionmessage_id_seq'::regclass);


--
-- Name: emailverificationcode id; Type: DEFAULT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.emailverificationcode ALTER COLUMN id SET DEFAULT nextval('public.emailverificationcode_id_seq'::regclass);


--
-- Name: feed id; Type: DEFAULT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.feed ALTER COLUMN id SET DEFAULT nextval('public.feed_id_seq'::regclass);


--
-- Name: messagereadflag id; Type: DEFAULT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.messagereadflag ALTER COLUMN id SET DEFAULT nextval('public.messagereadflag_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Data for Name: article; Type: TABLE DATA; Schema: public; Owner: suprss_user
--

COPY public.article (id, title, content, link, feed_id) FROM stdin;
\.


--
-- Data for Name: articlearchive; Type: TABLE DATA; Schema: public; Owner: suprss_user
--

COPY public.articlearchive (id, user_id, article_id, feed_id, title, content_html, link, archived_at) FROM stdin;
\.


--
-- Data for Name: articlereadflag; Type: TABLE DATA; Schema: public; Owner: suprss_user
--

COPY public.articlereadflag (id, user_id, article_id) FROM stdin;
\.


--
-- Data for Name: articlestar; Type: TABLE DATA; Schema: public; Owner: suprss_user
--

COPY public.articlestar (id, user_id, article_id) FROM stdin;
\.


--
-- Data for Name: collection; Type: TABLE DATA; Schema: public; Owner: suprss_user
--

COPY public.collection (id, name, user_id) FROM stdin;
\.


--
-- Data for Name: collectionmember; Type: TABLE DATA; Schema: public; Owner: suprss_user
--

COPY public.collectionmember (id, collection_id, user_id, role) FROM stdin;
\.


--
-- Data for Name: collectionmessage; Type: TABLE DATA; Schema: public; Owner: suprss_user
--

COPY public.collectionmessage (id, collection_id, user_id, message, created_at, message_type, article_id) FROM stdin;
\.


--
-- Data for Name: emailverificationcode; Type: TABLE DATA; Schema: public; Owner: suprss_user
--

COPY public.emailverificationcode (id, user_id, email, code, expires_at, used, created_at, purpose) FROM stdin;
41	42	14omega14320@gmail.com	319304	2025-08-28 12:43:20.750603	t	2025-08-28 12:33:20.750889	login
\.


--
-- Data for Name: feed; Type: TABLE DATA; Schema: public; Owner: suprss_user
--

COPY public.feed (id, url, title, description, collection_id) FROM stdin;
\.


--
-- Data for Name: messagereadflag; Type: TABLE DATA; Schema: public; Owner: suprss_user
--

COPY public.messagereadflag (id, user_id, message_id) FROM stdin;
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: suprss_user
--

COPY public."user" (id, username, email, password, is_email_verified, is_2fa_enabled, theme_preference) FROM stdin;
42	dd	14omega14320@gmail.com	$2b$12$3kDb4/ReakhBeTpeWo/Yne.N66ffdQFsVdh0Up8s/6hk/Y0yYt4.u	f	t	auto
\.


--
-- Name: article_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suprss_user
--

SELECT pg_catalog.setval('public.article_id_seq', 123, true);


--
-- Name: articlearchive_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suprss_user
--

SELECT pg_catalog.setval('public.articlearchive_id_seq', 1, true);


--
-- Name: articlereadflag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suprss_user
--

SELECT pg_catalog.setval('public.articlereadflag_id_seq', 2, true);


--
-- Name: articlestar_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suprss_user
--

SELECT pg_catalog.setval('public.articlestar_id_seq', 2, true);


--
-- Name: collection_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suprss_user
--

SELECT pg_catalog.setval('public.collection_id_seq', 3, true);


--
-- Name: collectionmember_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suprss_user
--

SELECT pg_catalog.setval('public.collectionmember_id_seq', 1, false);


--
-- Name: collectionmessage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suprss_user
--

SELECT pg_catalog.setval('public.collectionmessage_id_seq', 1, false);


--
-- Name: emailverificationcode_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suprss_user
--

SELECT pg_catalog.setval('public.emailverificationcode_id_seq', 41, true);


--
-- Name: feed_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suprss_user
--

SELECT pg_catalog.setval('public.feed_id_seq', 3, true);


--
-- Name: messagereadflag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suprss_user
--

SELECT pg_catalog.setval('public.messagereadflag_id_seq', 1, false);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suprss_user
--

SELECT pg_catalog.setval('public.user_id_seq', 42, true);


--
-- Name: article article_pkey; Type: CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.article
    ADD CONSTRAINT article_pkey PRIMARY KEY (id);


--
-- Name: articlearchive articlearchive_pkey; Type: CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.articlearchive
    ADD CONSTRAINT articlearchive_pkey PRIMARY KEY (id);


--
-- Name: articlereadflag articlereadflag_pkey; Type: CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.articlereadflag
    ADD CONSTRAINT articlereadflag_pkey PRIMARY KEY (id);


--
-- Name: articlestar articlestar_pkey; Type: CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.articlestar
    ADD CONSTRAINT articlestar_pkey PRIMARY KEY (id);


--
-- Name: collection collection_pkey; Type: CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.collection
    ADD CONSTRAINT collection_pkey PRIMARY KEY (id);


--
-- Name: collectionmember collectionmember_pkey; Type: CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.collectionmember
    ADD CONSTRAINT collectionmember_pkey PRIMARY KEY (id);


--
-- Name: collectionmessage collectionmessage_pkey; Type: CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.collectionmessage
    ADD CONSTRAINT collectionmessage_pkey PRIMARY KEY (id);


--
-- Name: emailverificationcode emailverificationcode_pkey; Type: CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.emailverificationcode
    ADD CONSTRAINT emailverificationcode_pkey PRIMARY KEY (id);


--
-- Name: feed feed_pkey; Type: CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.feed
    ADD CONSTRAINT feed_pkey PRIMARY KEY (id);


--
-- Name: messagereadflag messagereadflag_pkey; Type: CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.messagereadflag
    ADD CONSTRAINT messagereadflag_pkey PRIMARY KEY (id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: ix_articlearchive_user_id; Type: INDEX; Schema: public; Owner: suprss_user
--

CREATE INDEX ix_articlearchive_user_id ON public.articlearchive USING btree (user_id);


--
-- Name: ix_articlereadflag_article_id; Type: INDEX; Schema: public; Owner: suprss_user
--

CREATE INDEX ix_articlereadflag_article_id ON public.articlereadflag USING btree (article_id);


--
-- Name: ix_articlereadflag_user_id; Type: INDEX; Schema: public; Owner: suprss_user
--

CREATE INDEX ix_articlereadflag_user_id ON public.articlereadflag USING btree (user_id);


--
-- Name: ix_articlestar_article_id; Type: INDEX; Schema: public; Owner: suprss_user
--

CREATE INDEX ix_articlestar_article_id ON public.articlestar USING btree (article_id);


--
-- Name: ix_articlestar_user_id; Type: INDEX; Schema: public; Owner: suprss_user
--

CREATE INDEX ix_articlestar_user_id ON public.articlestar USING btree (user_id);


--
-- Name: ix_collectionmessage_collection_id; Type: INDEX; Schema: public; Owner: suprss_user
--

CREATE INDEX ix_collectionmessage_collection_id ON public.collectionmessage USING btree (collection_id);


--
-- Name: ix_collectionmessage_user_id; Type: INDEX; Schema: public; Owner: suprss_user
--

CREATE INDEX ix_collectionmessage_user_id ON public.collectionmessage USING btree (user_id);


--
-- Name: ix_messagereadflag_message_id; Type: INDEX; Schema: public; Owner: suprss_user
--

CREATE INDEX ix_messagereadflag_message_id ON public.messagereadflag USING btree (message_id);


--
-- Name: ix_messagereadflag_user_id; Type: INDEX; Schema: public; Owner: suprss_user
--

CREATE INDEX ix_messagereadflag_user_id ON public.messagereadflag USING btree (user_id);


--
-- Name: ix_user_email; Type: INDEX; Schema: public; Owner: suprss_user
--

CREATE UNIQUE INDEX ix_user_email ON public."user" USING btree (email);


--
-- Name: article article_feed_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.article
    ADD CONSTRAINT article_feed_id_fkey FOREIGN KEY (feed_id) REFERENCES public.feed(id);


--
-- Name: articlearchive articlearchive_article_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.articlearchive
    ADD CONSTRAINT articlearchive_article_id_fkey FOREIGN KEY (article_id) REFERENCES public.article(id);


--
-- Name: articlearchive articlearchive_feed_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.articlearchive
    ADD CONSTRAINT articlearchive_feed_id_fkey FOREIGN KEY (feed_id) REFERENCES public.feed(id);


--
-- Name: articlearchive articlearchive_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.articlearchive
    ADD CONSTRAINT articlearchive_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: articlereadflag articlereadflag_article_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.articlereadflag
    ADD CONSTRAINT articlereadflag_article_id_fkey FOREIGN KEY (article_id) REFERENCES public.article(id);


--
-- Name: articlereadflag articlereadflag_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.articlereadflag
    ADD CONSTRAINT articlereadflag_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: articlestar articlestar_article_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.articlestar
    ADD CONSTRAINT articlestar_article_id_fkey FOREIGN KEY (article_id) REFERENCES public.article(id);


--
-- Name: articlestar articlestar_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.articlestar
    ADD CONSTRAINT articlestar_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: collection collection_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.collection
    ADD CONSTRAINT collection_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: collectionmember collectionmember_collection_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.collectionmember
    ADD CONSTRAINT collectionmember_collection_id_fkey FOREIGN KEY (collection_id) REFERENCES public.collection(id);


--
-- Name: collectionmember collectionmember_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.collectionmember
    ADD CONSTRAINT collectionmember_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: collectionmessage collectionmessage_article_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.collectionmessage
    ADD CONSTRAINT collectionmessage_article_id_fkey FOREIGN KEY (article_id) REFERENCES public.article(id);


--
-- Name: collectionmessage collectionmessage_collection_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.collectionmessage
    ADD CONSTRAINT collectionmessage_collection_id_fkey FOREIGN KEY (collection_id) REFERENCES public.collection(id);


--
-- Name: collectionmessage collectionmessage_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.collectionmessage
    ADD CONSTRAINT collectionmessage_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: emailverificationcode emailverificationcode_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.emailverificationcode
    ADD CONSTRAINT emailverificationcode_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: feed feed_collection_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.feed
    ADD CONSTRAINT feed_collection_id_fkey FOREIGN KEY (collection_id) REFERENCES public.collection(id);


--
-- Name: messagereadflag messagereadflag_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.messagereadflag
    ADD CONSTRAINT messagereadflag_message_id_fkey FOREIGN KEY (message_id) REFERENCES public.collectionmessage(id);


--
-- Name: messagereadflag messagereadflag_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: suprss_user
--

ALTER TABLE ONLY public.messagereadflag
    ADD CONSTRAINT messagereadflag_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- PostgreSQL database dump complete
--

\unrestrict SgIRrH9bm3wnkbtaSHgf11cjYoNCHRlkMFhyEB4EKRytojSDPMb5yCaP0xXcjwK

